<form method="POST" id="novo_livro">
  <div class="novo_produto">
    
    <div class="form-group">
      <label for="titulo" class="text-light">Título</label>
      <input
        id="inputTitulo"
        type="text"
        name="titulo"
        value=""
        required
        placeholder="Digite o título do livro"
      />
    </div>
    <div class="form-group">
      <label for="resumo" class="text-light">Resumo</label>
      <input
      id="inputResumo"
      type="text"
      name="resumo"
      value=""
      required
      placeholder="Digite o resumo do livro"
      />
    </div>
    <div class="form-group">
      <label for="editora" class="text-light">Editora</label>
      <input
        id="inputEditora"
        type="text"
        name="editora"
        value=""
        required
        placeholder="Digite a editora"
      />
    </div>
    <div class="form-group">
      <label for="autores" class="text-light">Autores</label>
      <input
        id="inputAutores"
        type="text"
        name="autores"
        value=""
        required
        placeholder="Digite os autores do livro"
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Incluir</button>
    </div>
  </div>
</form>
